body {
  background: linear-gradient(to top, #b490ca 0%, #5ee7df 100%);
  margin: 0 auto;
  text-align: center;
}
h1 {
  border: 3px solid #6867c2;
  border-radius: 4px;
  color: #6867c2;
  font-size: 46px;
  padding: 15px;
  text-shadow: 1px 1px 2px pink;
}
h2 {
  color: #9f5ac7;
  font-size: 32px;
  padding: 0px 5px 15px 5px;
  text-decoration: underline;
  text-underline-offset: 6px;
}
img {
  border-radius: 35px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}
p {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  border-radius: 4px;
  color: #369e8d;
  font-family: fantasy;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin: 25px 50px;
  padding: 40px;
}
ul {
  display: inline;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
li {
  display: inline;
  margin: 0 15px;
}
.mine {
  color: #9f5ac7;
  font-weight: 900;
}
.content {
  margin: 0 auto;
  max-width: 600px;
  padding: 30px 60px;
}
.petFinder {
  display: block;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  font-weight: 900px;
  margin: 0 auto;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.helloButton {
  background: #59c9b6;
  border: 1.5px solid white;
  border-radius: 10px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
  color: white;
  display: block;
  font-size: 18px;
  line-height: 25px;
  margin: 15px auto;
  padding: 15px 25px;
  transition: all 200ms ease-in-out;
}
.dontTell {
  color: rgb(85, 26, 139);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 22px;
  font-weight: 900px;
  margin: 0 auto;
  text-decoration: none;
}
.lexiFavorites {
  background: linear-gradient(
    109.6deg,
    rgba(0, 0, 0, 0.93) 11.2%,
    rgb(63, 61, 61) 78.9%
  );
  border-radius: 4px;
  color: #369e8d;
  font-family: fantasy;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  margin: 25px 50px 0px 50px;
  padding: 40px;
}
.barkBox {
  color: white;
}
.chewy {
  color: white;
}
.petSmart {
  color: white;
}
.footer {
  color: rgb(85, 26, 139);
  font-family: fantasy;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding: 20px;
  margin-top: 0px;
}
.petFinder:hover {
  text-decoration: underline;
}
.helloButton:hover {
  background: white;
  color: #59c9b6;
  cursor: pointer;
}

@media (max-width: 700px) {
  p,
  .lexiFavorites {
    font-size: 18px;
    margin: 30px 0px;
    padding: 10px;
  }
  h1 {
    font-size: 30px;
    padding: 5px;
  }
  h2 {
    font-size: 20px;
    padding-bottom: 12px;
    text-underline-offset: 4px;
    line-height: 26px;
  }
  img {
    padding: 0;
  }
  .helloButton {
    font-size: 16px;
  }
}
